@font-face {
    font-family: rubik;
    src: url(../../resources/fonts/Rubik-Regular.ttf);
}

.club-events{
    height:18vh;
    width:auto;
    margin-right:0;
}

.contest{
    width:50%!important;
    border:3px solid white;
    border-radius:4vh;
    margin:2vh;
}

.contest p{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-family:rubik;
    font-size:10vh;
    color:#FFFFFF;
}

.contest-4{
    width:50%!important;
    height:14vh;
    border:3px solid white;
    border-radius:4vh;
    margin:2vh;
}

.contest-4 p{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-family:rubik;
    font-size:8vh;
    color:#FFFFFF;
}

.contest p:hover{
    border-bottom:4px solid #D4145A;
}

.contest-4 p:hover{
    border-bottom:4px solid #D4145A;
}

.fonts p{
    font-size:6vh!important;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
 #break-the-circuit p{
    font-size:6vh!important;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.fonts1 p{
    font-size:6vh!important;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.fonts2 p{
    margin-top: auto;
    margin-bottom: auto;
    text-align:center;
    font-size:3.5vh!important;
}

.right .contest{
    position:relative;
    z-index:3;
    top:-22vh;
    float:right;
}

.left{
    position:relative;
    z-index:3;
    top:-22vh;
    margin-left:0;
}

.right-epic .contest{
    position:relative;
    z-index:3;
    top:-48vh;
    float:right;
}

.left-robotics{
    position:relative;
    z-index:3;
    top:-46vh;
    margin-left:0;
}

.right-ids .contest{
    position:relative;
    z-index:3;
    top:-72vh;
    float:right;
}

.left-sae{
    position:relative;
    z-index:3;
    top:-72vh;
    margin-left:0;
}

.details-container{
    margin-top:-20vh;
    margin-right:0;
    position:relative;
    height:65vh;
    width:50%;
    min-width:50%;
    overflow-y:scroll;
    border: 3px solid white;
    border-radius:4vh;
    z-index:7;
    float:right;
}

.details-container.active{
    visibility:hidden;
}

.event-details{
    color:white;
    font-family:rubik;
    /* text-align:center; */
    /* justify-content: center; */
}

.event-details h1{
    position:absolute;
    font-size:8vh;
}

.display-pos{
    margin-top:20vh!important;
}

.details-container::-webkit-scrollbar {
    width: 5px;
}

.details-container::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius:5vh; 
}

.deep-pos,.hack-pos{
    display:block;
    margin-right: -43vw;
}

.electronic{
    float:left;
    margin-top:0vh;
}
h1{
    padding-left: 20px;
}

.headsmall h1{
    font-size: 6vh;
}

h4,h5{
    font-size: 2.5vh;
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2;
}

.pos1{
    display:block;
    margin-left: -43vw;
}

.pos2{
    margin-top:-65vh;
}

.pos3{
    margin-top:-45vh;
}

.pos4{
    margin-top:-45vh;
    margin-right: -43vw;
}

.robo{
    float:left;
    margin-top:1vh;
}

.pos5{
    margin-left: -43vw;
}

.pos6{
    margin-top:-65vh;
}

.ids{
    margin-top:-70vh;
}

.sae{
    margin-top:1vh;
    float:left;
}

.sae1{
    left:-42vw;
}

.display-pos1{
    padding-top:24vh;
}

.bottom-down{
    padding-top:6vh;   
}

.event-details h3{
    display: block;
    padding-left: 3vh;
    color:#E5BB01!important;
}

@media (max-width: 575px){
    h3{
        font-size: 1.5rem;
    }
    .contest{
        left:3vh;
    }
    .contest p{
        /* padding-top: 5vh; */
        margin-top: auto;
        margin-bottom: auto;
        font-size: 4vh;
        padding-left: 1vh;
        padding-right: 1vh;
    }
    #deeplearning p{
        font-size:2.5vh!important;
        text-align: center;

    }
    .left{
        margin-top:-4vh;
        margin-left:-3vh;
    }
    .left .contest{
        width:47%!important;
    }
    #break-the-circuit p{
        margin: auto;
        text-align: center;
        font-size:3vh!important; 
    }
    /* .right-epic p{
        font-size:4.5vh;
    } */
    .fonts1 p{
        font-size:3vh!important;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;

    }
    .contest-4{
        margin-top:-3vh!important;
        margin-left:-1vh;
        margin-bottom:5vh;
    }
    .contest-4 p{
        margin: auto;
        font-size:3.5vh;
    }
    .contest-4.racing1 p{
        margin: auto;
        text-align: center;
        font-size:3.5vh;
    }
    .left-sae .contest{
        margin-left:-1vh;
    }
    .left-sae .contest p{
        /* padding-top:3vh; */
        font-size:2.5vh!important;
    }
    .left-sae .fonts p{
        /* padding-top:6vh; */
        font-size:3vh!important;
        text-align: center;
    }
    .details-container{
        width:100%;
    }
    .hack-pos{
        float:left;
    }
    .deep-pos{
        float: left;
    }
    .electronic{
        width:95%;
        left:3vh;
        overflow-x: hidden;
    }
    .electronic.pos1{
        margin-top:-65vh;
    }
    .pos4{
        float:left;
        /* left:-30vh; */
    }
    .robo{
        margin-top:-4vh;
    }
    .pos5,.pos6{
        margin-top:-65vh;
        left:0vh;
    }
    .sae{
        margin-top:-1vh;
    }
    .sae1{
        margin-top:-65vh;
        left:0;
    }
    .display-pos.arduino {
        padding-top:6vh;
    }
    .display-pos.zerone1 {
        padding-top:20vh;
    }
    .display-pos.electronic1{
        padding-top:5vh;   
    }
    .pos5 .display-pos{
        padding-top:10vh;
    }
    .pos6 .display-pos{
        padding-top: 5vh;
    }
    .pos6 h1{
        padding-top:7vh;
        font-size:5vh;
    }
    .headsmall h1{
        font-size: 5vh;
    }
    .display-pos.sae1{
        padding-top: 5vh;
    }
    /* .sae .display-pos{
        padding-top:25vh;
    } */
}